dist
dist2
node_modules
log
mysql_data
influxdb_config
influxdb_data
elasticsearch_data
redis.conf
.env*
!.env.example
!.env.production.example
.vscode

docs/ONLINE_OPERATIONS_AND_MAINTENANCE.md

/src/apps/trails/
/__tests__/trails/
/__tests__/*/*trails*
/src/db/mysql/models/trails*.ts
/docker/*trails*
/scripts/*trails*
